<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <appSettings>
    <add key="url" value="https://tst-api.usw.driscolls.com/" />
    <add key="getbinurl" value="https://tst-api.usw.driscolls.com/dlcis/api/v1/lcis/inv/bininv/" />
    <add key="getbinincidenturl" value="https://tst-api.usw.driscolls.com/dlcis/api/v1/lcis/inv/" />
    <add key="getrejectgrowerurl" value="https://tst-api.usw.driscolls.com/dlcis/api/v1/lcis/inv/bininv/event/reject?growernbr=" />
    <add key="getbininvlist" value="https://tst-api.usw.driscolls.com/dlcis/api/v1/lcis//inv/bininv/bininvlist" />
    <add key="getbininvlistgrowernbr" value="https://tst-api.usw.driscolls.com/dlcis/api/v1/lcis//inv/bininv/bininvlist?GrowerNumber=" />
    <add key="getbininvlistranchnbr" value="https://tst-api.usw.driscolls.com/dlcis/api/v1/lcis//inv/bininv/bininvlist?RanchNumber=" />
    <add key="getbininvlistberrytype" value="https://tst-api.usw.driscolls.com/dlcis/api/v1/lcis//inv/bininv/bininvlist?BerryType=" />
    <add key="getbininvlistgrowernbr" value="https://tst-api.usw.driscolls.com/dlcis/api/v1/lcis//inv/bininv/bininvlist?GrowerNumber=" />
    <add key="testurl" value="http://test.dlcis.driscolls.com/" />
    <add key="connectionString" value="data source=WVITSTGBR-DB01; database=LCI; user id=AUTOTEST_SQL; password=Driscolls1" />
    <add key="getbinquery" value="SELECT TOP 1 BinId from [dbo].[BinInventory] where CurrentLocationType='Dc'" />
    <add key="getRandBinIdFromInventory" value="select top 1 percent * from [dbo].[BinInventory]order by rand(checksum(*))" />
    <add key="getBinIdNotExistsInInventory" value="select BinId from BinEvent where binid NOT IN(SELect binid from BinInventory);" />
    <add key="getBinIdFromInventoryWithGrowerFeild" value="select top 1 percent * from [dbo].[BinInventory] where currentlocationtype='GrowerField' and currentstatustype='Issued' order by rand(checksum(*))" />
    <add key="postbinissuance" value="SELECT TOP 1 BinId FROM [dbo].[BinInventory] where CurrentLocationType='Dc' and CurrentStatusType='Receipt' order by Id desc" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LCIEntities" connectionString="metadata=res://*/Utilities.LCIModel.csdl|res://*/Utilities.LCIModel.ssdl|res://*/Utilities.LCIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WVITSTGBR-DB01;initial catalog=LCI;persist security info=True;user id=autotest_sql;password=Driscolls1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>